.cart_page {
}

.heading {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.home_link {
  display: inline-flex;
  text-align: center;
  color: var(--primary-font-color);
  font-weight: var(--font-light);
  text-decoration: underline;
}

.home_link:hover {
  opacity: 0.8;
  transition: all 0.1s;
}

.cart_section {
  max-width: 600px;
  margin: 5rem auto;
}
