.burger_wrapper {
  display: none;
}

.burger_wrapper {
  min-width: 70px;
  z-index: 10;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.7rem;
  height: 1.7rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.button:focus {
  outline: none;
}

.line {
  width: 1.7rem;
  height: 1px;
  background: var(--primary-font-color);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.line1_open {
  transform: rotate(45deg);
}

.line1_closed {
  transform: rotate(0);
}

.line2_open {
  opacity: 0;
  transform: translateX(20px);
}

.line2_closed {
  opacity: 1;
  transform: translateX(0);
}

.line3_open {
  transform: rotate(-45deg);
}

.line3_closed {
  transform: rotate(0);
}

@media screen and (max-width: 768px) {
  .burger_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
