.cart_wrapper {
  display: flex;
  flex-direction: column;
}

.cart_list {
  flex-grow: 1;
}

.cart_checkout {
  margin-top: 15vh;
  padding-top: 3rem;
  border-top: 1px solid var(--pinkish-border-color);
}

.total_price {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-light);
}

.price_text {
  text-transform: uppercase;
}

.checkout_link {
  margin-top: 3rem;
}

.primary_button {
  border: none;
  background-color: var(--primary-font-color);
  color: var(--button-text-color);
  border-radius: 15px;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  font-size: var(--body-font-size);
  font-family: var(--primary-font);
  font-weight: var(--font-light);
  letter-spacing: 1px;
  opacity: 1;
  transition: all 0.1s;
  text-transform: uppercase;
}

.primary_button:hover,
.primary_button:active {
  opacity: 0.9;
  transition: all 0.1s;
}
