@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-font-color: #844424;
  --pinkish-bg-color: #fff3ee;
  --pinkish-border-color: #f0cdbc;
  --button-text-color: #ffffff;
  --placeholder-color: #d6a38a;
  --sale-color: #b73a52;
  --success-color: #139b70;
  --error-color: #af0000;
  --cart-with-items-color: #f4a3a3;
  --modal-overlay-color: rgba(156, 118, 100, 0.4);

  --primary-font: "Roboto", sans-serif;
  --logo-font: "Merienda", cursive;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  --body-font-size: calc(1rem + 0.3vw);
  --title-font-size: calc(1.8rem + 0.5vw);
  --sub-title-font-size: calc(1.3rem + 0.5vw);
  --footer-font-size: calc(0.8rem + 0.3vw);
  --footer-font-size-smallest: calc(0.7rem + 0.3vw);
  --desktop-dropdown-upper-font-size: calc(0.8rem + 0.3vw);
  --desktop-dropdown--lower-size: calc(0.7rem + 0.3vw);
  --breadcrumbs-font-size-desktop: calc(0.8rem + 0.3vw);

  --footer-min-height: 100px;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  font-size: var(--body-font-size);
}

main {
  min-height: 350px;
  padding: 3rem 10rem 5rem 10rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  main {
    padding: 3rem 3rem 5rem 3rem;
  }
}

@media screen and (max-width: 520px) {
  body {
    font-size: var(--body-font-size);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 13px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* --- scrollbar --- */

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(----button-text-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--placeholder-color);
  border-radius: 25px;
}

.page_not_found {
}

.heading {
  margin: 2rem 0;
}

.heading_text {
  font-weight: var(--font-regular);
  font-size: var(--title-font-size);
}

.subheading_text {
  font-weight: var(--font-regular);
  font-size: var(--sub-title-font-size);
}

/* --- modal styles --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--modal-overlay-color);
  display: flex;
  justify-content: flex-end;
}

.content {
  width: calc(200px + 15vw);
  background-color: var(--button-text-color);
  height: 100%;
  padding: 2rem;
}

.modal_heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--pinkish-border-color);
}

.modal_heading_text {
  font-weight: var(--font-regular);
  font-size: var(--sub-title-font-size);
}

.modal_close_button {
  cursor: pointer;
}

.modal_closed {
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}

.modal_closed .content {
  opacity: 0;
  visibility: hidden;
  transform: translateX(300px);
  transition: all 0.15s;
}

.modal_open {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s;
}

.modal_open .content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.15s;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
}

/* --- forms --- */
.form_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1.5rem;
}

.form_input {
  padding: 0.5rem;
  font-family: var(--primary-font);
  width: 100%;
  border: 1px solid var(--pinkish-border-color);
  border-radius: 10px;
  font-size: var(--body-font-size);
  color: var(--primary-font-color);
}

.form_input:focus,
.form_input:active {
  outline: 1px solid var(--primary-font-color);
}

.required_star {
  color: var(--error-color);
}

.error_placeholder {
  color: var(--error-color);
  font-size: var(--footer-font-size-smallest);
  font-weight: var(--font-light);
}

.shown {
  opacity: 1;
  visibility: visible;
  transition: all 0.15s;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s;
}

/* --- buttons --- */
.primary_button {
  border: none;
  background-color: var(--primary-font-color);
  color: var(--button-text-color);
  border-radius: 15px;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  font-size: var(--body-font-size);
  font-family: var(--primary-font);
  font-weight: var(--font-light);
  letter-spacing: 1px;
  opacity: 1;
  transition: all 0.1s;
}

.primary_button:hover,
.primary_button:active {
  opacity: 0.9;
  transition: all 0.1s;
}
