.cart_delivery_content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  gap: 2rem;
}

.form {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.overview {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.footer {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
