.footer {
  display: flex;
  flex-direction: column;
}

.buttons_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--pinkish-border-color);
}

.links_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
  padding: 2rem 0;
}

.link {
  border: none;
  background-color: transparent;
  color: var(--primary-font-color);
  cursor: pointer;
  text-decoration: underline;
  font-size: var(--body-font-size);
  font-family: var(--primary-font);
  font-weight: var(--font-light);
  /* letter-spacing: 1px; */
  opacity: 1;
  transition: all 0.1s;
}

.link:hover {
  opacity: 0.8;
  transition: all 0.1s;
}
