.cart_overview {
  background-color: var(--pinkish-bg-color);
  max-width: 600px;
  width: 100%;
  padding: 2rem;
}

.cart_overview_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total_price_wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: var(--font-light);
}

.delivery_method {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-light);
}

@media screen and (max-width: 1300px) {
  .cart_overview {
    max-width: 600px;
  }
}
